body{
    width: 750px;
    font-size: 16px;
    margin:auto;
    background-color: gray;
}

header, footer{
    background-color:rosybrown;
    text-align: center;
}

header, footer, main{
    padding: .5rem;
    margin: 1rem;
    border-radius: 10px;
    padding-left: .3rem;
}

main{
    background-color: cornsilk;
    margin-top: -13px;
}

footer{
    margin-top: -13px;
}

img{
    float: right;
    width: 160px;
    border-radius: 10px;
}

h2{
    border-bottom: double;
    border-color:black ;
    margin-left: .7rem;
}

ul {
    margin-left: .7rem;
}

a{
    color:black;
}

a:visited{
    color:blue;
}

.update{
    font-size:12px;
}