body{
    margin: 0 auto;
   
}

h1,h2,h3,h4,h5,h6, li a{
    font-family: 'Raleway', sans-serif;
}

header{
    padding:.2rem;
   
    
}

.sitename{
    display:flex;
    align-items: center;
    background-color:#38839e ;
    padding: .5rem;
}

nav{
    margin-top: -1rem;
}

.navigation{
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 10px;
    background-color:rgb(134, 136, 143) ;
}

.navigation li{
    list-style-type: none;
    padding: 1rem;
    
}

/*Header - site logo and name*/
/*header{
    display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.sitename{
    background-color: #38839e;
   
    

}
header img{
    justify-self: start;
    width: 90px;
}

header h1{
    
    justify-self: start;
    grid-column: 2/3;
    align-self: center;
    font-size: 25px;
    
}

/*Navigations
nav{
    background-color: rgb(134, 136, 143);
    text-align: center;
    
}

header ul {
   padding:0;
   margin:0;
   
}

 ul li {
    list-style-type: none;
    display: inline;
    display:grid;

}

header ul li a {
    text-decoration: none;
    float:left;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    padding:1rem;
    
    
    
}

header a:hover {
    background-color: white;
  }

/*main*/

main{
    margin:2rem;
    background-color:white;
    padding:.5rem;
    

}

h2{
    background-color: rgba(186,196,198,255);
    padding:1rem;
    border-radius: .3rem;
}

p, h4{
    padding: 1rem;
}

p{
    font-family: 'Quicksand', sans-serif;
}

/*Footer*/

footer{
    background-color: grey ;
    margin:.3rem;
    padding:.1rem;
}

footer{
    text-align: center;
}

footer ul li{
    list-style-type: none;
    display: inline-block;
}


ul li a {
    text-decoration: none;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    padding:.3rem;
}


/*Targeted audience css*/



.personas h4{
    text-align: center;
    font-size: larger;

}

/*topography*/
main h3{
    padding: 1rem;
}