@media only screen and (min-width: 60em) {
    /*Start Editing from here*/


    

    /*Weather prediction*/
.weatherpred {
    display:inherit;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    box-shadow: 5px 10px 4px #414040;
}
    

.hat{
    display:flex;
    flex-direction: row;
    
}

.flex{
    display:flex;
    flex-flow:row wrap;
    
}

.box{
	flex: 1 1 auto;
    border-bottom: 1px solid;
	border-left: 1px solid ;
	text-align: center;
	background-color:white;
	color: black;
    width: 15%;
    background-color:rgba(224,226,215,255) ;
   
}

.topp{
	display: block;
	padding: 3px;
	text-align: center;
    border-top: 1px solid ;
}

.weatherpred img {
	width: 30%;
    border-radius: 100px;
	padding: 0.25rem;
}

.weatherpred h3{
    text-align: center;
    background-color:rgba(224,226,215,255) ;
    padding: .8rem;
    border-radius: .5rem;
    border-bottom: 2px double black;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

/*article*/
article img{
    width: 30%;
}

article p{
    padding:.5rem;
}
}