@media only screen and (min-width: 60em) {

    .info {
        padding: 0;
    }

    main{
        padding-left: 7rem;
        padding-right: 7rem;
    }


    .individual {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


    }

    .info:nth-child(odd) .image1size {
        grid-column: 1;
    }

    .info:nth-child(odd) .writings {
        grid-column: 1;
        grid-row: 2;
    }

    .info img{
        width: 100%;
    }
    .info {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

}