@media only screen and (min-width: 45.5em) {
    nav button{
        display:none;
    }

    .top{
        flex-direction:row; /*for large view change to row*/
        margin-top:-1rem ;
        margin-bottom: -1rem;
    }

    .sitename{
        margin-bottom: -2rem;
    }

    h1{
        text-align: center;
        margin-bottom: -1rem;
        font-size: 50px;
    }
    .motto{
        padding: .9rem;
        margin-top: 0;
        text-align: center;
        font-size: 1.2rem;

    }

    .logo{
        width: 200px;
     }


    #navo{
        display:flex;
        justify-content:center;
        
      
    }

    nav ul li {
        width:200px;
    }

    nav ul.hide {
        display:flex;
    }


    /*Start Editing from here*/
    main{
        padding-left: 7rem;
        padding-right: 7rem;
    }

    

    
    .info {
     flex-direction: column;
    padding: 1rem;
    margin:.55rem;
    border: 1px solid black;
    }

    .info:nth-child(even){
        flex-direction: column;
    }


    .image1size{
    width: 90%;
    box-shadow: 5px 5px 5px 5px grey;  
    }

    .individual{
        flex-direction: row;
    }

    div.writings{
        font-size: 15px;
        width: 95%;
        height: 100%;

    
    }




footer{
    flex-direction: row;

}

}