body{
    margin-top: 2rem;
}

table{
    border-spacing: 1px;
    background-color: rgb(201, 200, 200);
    text-align: center;
    margin: 0 auto;
    box-shadow:10px 10px 10px #7d9ea3;
}

thead, tfoot{
    background-color:#7fb9c2;
}

thead tr th{
    padding:.8rem;
    font-size: 1.5rem;
}

th{
    font-family: "Ubuntu", sans-serif;
}

tbody th{
    background-color: #628ca6;
    padding:.5rem;
    text-align: center;
    color:white;
}

td{
    padding:.5rem;
    font-family: "Ubuntu", sans-serif;
}

tbody tr{
    background-color:#e7f0ed;   
}

tbody tr:nth-child(odd){
    background-color: #e7ffed;
}

tbody tr .highlight{
    background-color: #628ca6;
    color: white;
}

tbody tr td span{
    font-style: italic;
}


tfoot tr th{
    padding:.5rem;
    font-size:.7rem;
}


