@media only screen and (min-width: 60em) {
    /*Start Editing from here*/
    
    main{
    
        padding-left: 7rem;
        padding-right: 7rem;
    }
    
    .margin{
        margin-top: -1.7rem;
    }
    

    /*Homepage*/
    .individual {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


    }

    .info:nth-child(odd) .image1size {
        grid-column: 1;
    }

    .info:nth-child(odd) .writings {
        grid-column: 1;
        grid-row: 2;
    }

    .info img{
        width: 100%;
    }
    .info {
        grid-template-columns: 1fr;
        margin-top: 0;


    }




    /*Weather prediction for town pages*/

    /*large for towns*/

.weatherpred {
    display:inherit;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    box-shadow: 5px 10px 4px #414040;
}
    

.hat{
    display:flex;
    flex-direction: row;
    
}

.flex{
    display:flex;
    flex-flow:row wrap;
    
}

.box{
	flex: 1 1 auto;
    border-bottom: 1px solid;
	border-left: 1px solid ;
	text-align: center;
	background-color:white;
	color: black;
    width: 15%;
    background-color:rgba(224,226,215,255) ;
   
}

.topp{
	display: block;
	padding: 3px;
	text-align: center;
    border-top: 1px solid ;
}

.weatherpred img {
	width: 30%;
    border-radius: 100px;
	padding: 0.25rem;
}

.weatherpred h3{
    text-align: center;
    background-color:rgba(224,226,215,255) ;
    padding: .8rem;
    border-radius: .5rem;
    border-bottom: 2px double black;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

/*article for town pages*/
article img{
    width: 30%;
}

article p{
    padding:.5rem;
}

/*gallery*/
div.gallery  {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}


h2{
    font-size: 2rem;
}

/*Storm Center*/

form{
    width:700px;
}

/*Events*/

.activity{
    margin-left: 15rem;
    margin-right: 15rem;
}
.activity h3{
    font-size: 20px;
}
.activity p{
    font-size: 15px;
    text-align: center;
}



footer {
    grid-template-columns: 1fr 1fr;
}

}