@media only screen and (min-width: 62em) {
    /*Start Editing from here*/
    header{
        flex-direction: row;
    }

    .name{
        font-size: .9rem;
    }

    header img{
        width: 10%;
    }

    nav button {
        display: none;
    
    }

    nav ul.navigation {
        display:inline;
    }

    main{
        margin-left: 5rem;
        margin-right: 5rem;
        
    }

    /*homepage*/
    .advertisement{
        
        grid-template-columns: 1fr 1fr 1fr;
        
        
    }

    .name{
        
        border-right:.5rem double rgb(139, 0, 0);
        
    }

    /*city*/

    
    .af{
        flex-direction: row;
    }

    .af img{
        width: 70%;
    }

    .af p{
        text-align: start;
        padding: .5rem;
        font-weight: bolder;
    }

    

    .background{
        width: 50%;
    }
    
    /*contact*/
    .all{
        flex-direction: row;
    }

    /*busnesses*/
    .grid {
    
           
        grid-template-columns: 1fr 1fr 1fr; 
        }

        .list{
            width:50%;
            
        }

}