@media only screen and (min-width: 32.5em) {
   
        /*Start Editing from here*/
        ul{
           
            flex-direction: row;
        }

        .name{
            font-size: .9rem;
        }

        header img{
            width: 25%;
        }




        /*main*/
        main{
            margin-left: 3rem;
            margin-right: 3rem;
            
        }

        /*homepage*/
       
        
        /*join*/
        .sign{
    
            width:70%;
        }

        .levels{
            flex-direction: row;
        }

        

        /*city*/

        .background{
            width: 80%;
        }

        .activities{
            display:flex;
            flex-direction: row;
         }
        

        /*Contact*/
        .people{
            flex-direction: row;
        }

        .quick{
            width:50%;
        }

        /*footer*/
        .social{
            flex-direction: row;
        }

        
    
    
}