body{
    max-width: 1350px;
    margin: 0 auto;
   
}

header{
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    color: rgb(139, 0, 0);
    font-family: 'IM Fell English SC', serif;
    border-bottom: 1px solid rgb(139, 0, 0);
    box-shadow: 2px 3px 4px black;
    border-bottom: 1rem solid rgb(139, 0, 0) ;
    
}

.weather{
    padding:1rem;
}

.weather h2{
    color:rgb(139, 0, 0) ;
}


.name{
    display:flex;
    align-items: center;
    padding:.3rem;
    font-size: .7rem;
}

section h1{
    justify-content:left;
    padding: .4rem;

    
}

#navo ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

nav{
    max-width: 100%;
}


nav li{
    list-style-type: none;
    display: inline-block;
    
    padding:1rem;
    
}

nav li a {
    color: rgb(139, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

nav li:hover{
    box-shadow: 2px 3px 4px black;  
    border-top:3px solid rgb(139, 0, 0); 
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;

}


nav ul.navigation {
    display: none;
}

.headers{
    justify-content: flex-start;

}

header img{
    width: 50%;
}


/*Main*/
main{
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    background-color:RGB 218, 247, 166  ;
    color: black;
    

}

p{
    font-family: "Bona Nova", sans-serif;
}

.heroimage{
    margin:0;
    
}

.heroimage img{
    width: 100%;
    box-shadow: 5px 2px 3px  black;
    
}

/*homepage*/

.introduction{
    padding:1rem;
}

.introduction h2 {
    color: rgb(139, 0, 0);
    font-size: 2.5rem;
    position:relative;
    animation: mymove 3s 1
    
}

@keyframes mymove {
0%{
    letter-spacing: 25px;
}

30%{
    letter-spacing: 10px;
}

100%{
    letter-spacing: 0px;
}
}


.advertisement{
    max-width:100%;
    display:grid;
    grid-template-columns: 1fr;
    
    
}

.alone{
    
    padding:1rem;
    border:8px solid white ;
    border-top:4px solid white;
    color: white;
    max-width:70%;
    margin: 0 auto;
}

.alone h2{
    background-color: white;
    color:rgb(139, 0, 0);
    padding:.5rem;
}

.company{
    max-width: 100%;
    margin: 1rem;
    box-shadow: 3px 4px 5px white;
    padding:.5rem;
    box-shadow: 2px 3px 4px black;
   

}

.company p{
    color: black;
    font-weight: bolder;
    
}

.company img{
    max-width:50%;
    border-radius: 1rem;
    box-shadow: 2px 3px 5px 2px black;
    background-color: white;
    padding: 1rem;
}

.weatherpred{
    margin:.5rem;
}

.weatherpred h2{
    color:rgb(139, 0, 0) ;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    margin:2rem;
    font-size: 1.5rem;
}

.additional{
    padding: 1rem;
    margin: 1rem;
    color:black;
    
    
}


.additional h2{
   color: rgb(139, 0, 0);
   font-size: 2rem;
}

.events li a{
    
    color: black;
    text-align: center;
    text-decoration: none;
}



.calltoaction{
    box-shadow: 2px 3px 4px 5px black;
    border-top: 3px solid rgb(139, 0, 0) ;
    margin:1rem;
    color: black;
    padding: 1rem;
}

.calltoaction h3{
    font-size: 2rem;
    color:rgb(139, 0, 0);
}

.calltoaction input{
    padding: 1rem;
    width: 30%;
    border: 1px solid rgb(139, 0, 0);
    font-size: 1rem;

}

/*Join page*/
.sign{
    
    width: 100%;
    margin: 0 auto;
}

.sign h3{
    background-color:rgb(139, 0, 0) ;
    color:white;
    padding:2rem;
}

form{
    text-align: left;
    padding: 1rem;
    border-left: 6px solid rgb(139, 0, 0) ;
    box-shadow: 2px 3px 4px 5px black;
    max-width: 100%;
    
    
}

textarea{
    padding:1rem;
}

fieldset{
    
    justify-content: center;
}

.personal, .business{
    padding:.1rem;
    max-width: 100%;
    margin: .1rem;
}

legend{
    font-size: 2rem;
}



label{
    font-size: 1rem;
    color:rgb(139, 0, 0) ;
}

input{
    
  
    padding:.3rem;
    width: 95%;
    font-size: 1.5rem;
    
}

select{
    padding:.3rem;
    font-size: 1rem;
}

.button{
    padding:.7rem;
    font-size: 25px;
   margin: 0 auto;
   display: block;
    background-color: rgb(139, 0, 0);
   color: white;
    border-radius: 8px;
}

.levels{
    display:flex;
    flex-direction: column;
}

.levels ul li{
    
    font-family: "Bona Nova", sans-serif;
    list-style-type: disc;
    text-align: start;
}

.levels ul{
    text-align: center;
}

.nonprofit h2{
    color: rgb(139, 0, 0);
}

.nonprofit{
    padding:.5rem;
}


/*city*/
.city{
    display:flex;
    flex-direction: column;
    align-items: center;
    


}

.af{
    display: flex;
    flex-direction: column;
}

.af img{
    width: 100%;
}

.background{
    margin:1rem;
    padding: 1rem;
    width:70%;
    display: flex;
    flex-direction: column;
    border-left:5px solid rgb(139, 0, 0);
    border-right:5px solid rgb(139, 0, 0);
    box-shadow: 2px 3px 4px black;
}

.events{
    width:50%;
    margin: 0 auto;
    padding:1rem;
    
    
    
}

.activities{
   display:flex;
   flex-direction: column;
   padding: 1rem;
   margin: 1rem;
}

.events h3{
    font-size: 1.7rem;
}

.events h4{
    font-size: 1.4rem;
}

.events h4{
    color: rgb(139, 0, 0);
}

.events p{
    font-weight:bolder;
}

/*businesses*/

.businesses{
box-shadow: 2px 3px 4px 5px black;

    
}

.businesses img{
    padding:1rem;
    width: 30%;
}

.businesses ul li{
    list-style-type: none;
    text-align: center;
}
.businesses ul{
    padding: 0;
}

/*Contacts*/
.board h2{
    font-size: 2rem;
}

.people{
    display:flex;
    flex-direction: column;

}

.person {
    margin:1rem;
}

.person img{
    width:100%;
    box-shadow: 2px 3px 4px #555;
}

.quick{
    width: 80%;
    margin: 0 auto;
}

.info {
    padding:1rem;
}

.all strong{

    color:rgb(139, 0, 0);
}

.social{
    padding:1rem;
    margin:1rem;
}

.social h3{
    font-size: 2rem;
}

.all{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin:1rem;

}

.map{
    max-width: 100%;
}

iframe{
    width:100%;
   
}

/*footer*/
footer{
    justify-content: space-evenly;
    background-color:rgb(255, 255, 255) ;
    box-shadow: 2px 3px 4px black;
    padding: .1rem;
    text-align: center;
    box-shadow: 1px 2px 3px 4px  rgb(139, 0, 0);
    margin: 0 auto;

}

.social{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
    
}

.online li{
    list-style-type: none;
}